language: node_js
sudo: false
node_js:
- node
install:
- npm install
script:
- npm test
deploy:
  provider: npm
  email: ryankurte@gmail.com
  api_key:
    secure: IcnF6XpmbDu39Ryy0TXi39vqpxnP4KyulKBl3zj2+NJDRsxwJ+83M03ts+geJoUKhKR5A5LIgNw3u+RWnB34Bz6SipfdDEQsu9ujiKmR0cY3l8e5Bw/tGNYKS2p56xV9RH+R/csM9cvy2J2+3+WHvo8qv6NweWpucLQi0o6Q29yhJQec4EGl2sUroyAEmaYaaN7CUD90Ud17ynEH7SJwkalYKDJu16mj1IL4gEgEorvGxIKCCMtUmjA+Eff+g/nKiVDCs5WeP7BWN7iqrWdypg70cqOPcZS/1QI4iFcAVmLx0EapEY8VsBM3eRRPyWyJi8bmnVXQsDWZxpMniyX/wj7JPUDO9Y1gbadyjpG7MwfOiIxFUpN6jxtL1f3JFvxTmfenCJTcKdFpGKrfR5V3DhwkTuc3cN5jPGO3eYwIB7ABZktsSMbAkvyUePhEYxnEBwQYOUooB3v+OwNqwed++gvMChKTEBpXamRXCML0LVKMDpdHNRjqqM+Uaqg5FF5jtIMq6S38ElMhc1t8MkY0Eodu9L90ILcItwDWgW+615RYxaQrh72mMml54GYng8l5lbIPaNY4p77mkHqFwqP/Y4dMNhhO5MDUf4RgWrDccgpPquVwsaTee99NthkEBwk2B8Yq7cnQeLne2/X6QzYzxscgGyG+0l6W/9CBlB2k1mU=
  on:
    tags: true
    repo: ryankurte/winston-cluster
